.main-container {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
}

.center-container {
  width: 400px;
  height: 400px;
  background-color: #008080;
  border: 0px solid black;
  border-radius: 10px 8px;
  padding-top: 5px;
  text-align: center;
}

input {
  width: 250px;
  border-radius: 8px 3px;
  height: 25px;
  margin-top: 20px;
}

ul {
  margin-left: -250px;
  list-style: none;
}

.todoItem {
  display: flex;
  flex-direction: right;
}

.deleteItem {
  margin-left: 250px;
}

@media (max-width: 768px) {
  .center-container input {
    width: 33%;
  }
}

@media (max-width: 768px) {
  .todoItem {
    margin-left: 50px;
  }
}
